
body {
 
margin-bottom: 0;
}

.nav {
  justify-content: center;
}

a {
  color: #E85A4F;
}
a:hover {
  color: #EAE7DC;
  background-color: #E85A4F;

}
.heading {
  font-family: 'Montserrat', sans-serif;
  color: #E98074;
  font-size: 90px;
  text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  color: #E98074;
  font-size: 70px;
  font-weight: 900;
  text-align: center;
}

.meetTheTeam {
  text-align: center;
}

.services {
  text-align: center;
}
 .contact {
  display: inline;
  text-align: center;
 
 }

button {
  background-color: #E85A4F;
}


.aboutUs,
.meetTheTeam,
.services,
.contact{
  color: #53311E;
  font-weight: 800;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

form {
  width: 70%;
  padding: 15px;
  text-align: center;
}
.col {
  padding: 5px;
  /* background-color: #D8C3A5; */
  text-align: center;
}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  ;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}

/* The styling for the static div. */

/* meet the team and our recent work  */
#work {
 background-image: url('https://images.pexels.com/photos/247791/pexels-photo-247791.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

#team {
  background-image: url('https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}
/* Sets the actual background images */
/* about us section */
.bg1::after {
  background-image: url('https://images.pexels.com/photos/122458/pexels-photo-122458.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

/* services section */
.bg2::after {
  background-image: url('https://images.pexels.com/photos/1260727/pexels-photo-1260727.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

/* contact us */
.bg3::after {
  background-image: url('https://images.pexels.com/photos/159020/sunset-sky-afterglow-evening-sky-159020.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size:cover;
}

/* REPEAT ABOVE AS NEEDED */

/* #EAE7DC, #D8C3A5, #8E8D8A, #E98074, #E85A4F, #53311E */